@charset "ISO-8859-1";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.nav-container {
	margin-bottom: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container {
  margin-bottom: 3rem;
  max-width: 600px;
  padding: 35px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.file-field {
  padding-top: 1rem;
}

.page-footer {
  height: 60px;
}

@media screen and (max-width: 450px) {
  .login-container {
    max-width: 350px;
  }
}

@media screen and (max-width: 600px) {
  .login-container {
    max-width: 400px;
  }
}